version: '3.8'

services:
  db:
    image: mariadb:12
    restart: unless-stopped
    
    environment:
      MARIADB_ROOT_PASSWORD: develop
      MARIADB_DATABASE: room-planner
      MARIADB_USER: develop
      MARIADB_PASSWORD: develop

    ports:
      - "3306:3306"
    
volumes:
  mariadb-data:
    driver: local